WWWUSER=1000 # For development environments
WWWGROUP=1000 # For development environments

# Choose Postgres version
POSTGRES_VERSION=18-alpine
DB_HOST=pgsql
DB_CONNECTION=pgsql
DB_USERNAME=postgres
DB_PASSWORD=secret

FORWARD_REDIS_PORT=6379

HRMS_APP_PORT=80
HRMS_APP_VITE_PORT=5173
